
.popUp {
  display: grid;
  grid-template-columns: 60% 40%;
}

.photoContainer {
  grid-column: 1/2;
  grid-row: 1/2;
}

#Picture{
  display: block;
  height: auto;
  max-height: 450px;
  width: auto;
  max-width: 100%;
  margin: auto;
  border-radius: 5px;
}

.infoContainer {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 0px;
  display: grid;
  grid-template-rows: 80% 20%;
}

.comDisplay {
  grid-row: 1/2;
  margin: auto;
  height: 100%;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  padding-right: 20px;
}

.addCom {
  grid-row: 2/3;
  margin: auto;
}

.ant-form #makeItWork {
  width: 100px;
  margin: auto;
}

#photoDel {
  color: #bfbfbf;
  margin-bottom: 20px;
  margin-right: 0;
}

#photoDel:hover {
  color: #f5222d;
  cursor: pointer;
}

.ant-confirm .ant-confirm-btns {
  margin-top: 0;
}

.photoModal {
  margin-left: 0;
  min-width: 300px;
  max-width: 1050px;
  margin: auto;

}

.ant-confirm-body .ant-confirm-content {
  margin-left: 0px;
}

.comDiv {
  display: grid;
  grid-template-columns: 90% 10%;
  min-height: 65px;
  border-radius: 5px;
  background-color: #f8fbfd;
  padding: 5px;
  margin: auto;
  margin-bottom: .5em;
  width: 80%;
}

#comDelete {
  grid-row: 1/2;
  grid-column: 2/3;
  margin: auto;
  color: #bfbfbf;
}

#comDelete:hover {
  color: #f5222d;
  cursor: pointer;
}

#comUser {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 300px;
  margin-bottom: auto;
  margin-top: auto;
}

#comText {
 grid-row: 2/3;
 grid-column: 1/3;
 margin-bottom: auto;
 margin-top: auto;
}



@media only screen and (max-width: 700px) {
  .popUp {
    display: grid;
    grid-template-columns: 100%;
  }

  .ant-modal {
      width: 90% !important;}

  .infoContainer {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: 0;
    display: grid;
    grid-template-rows: 80% 20%;
  }
}
