.PhotoCard {
  height: 150px;
  width: 150px;
  margin: 0 10px;
  border-radius: 10px;
  
}

@keyframes slideIn {
  0% {
    transform: scale(.9);
    opacity: 1;
  }

  50% {
    transform: scale(.6);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}
