
.popUp {
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 25px;
}

.photoContainer {
  grid-column: 1/2;
  grid-row: 1/2;
}

#Picture{
  display: block;
  height: auto;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}

.infoContainer {
  grid-column: 2/3;
  grid-row: 1/2;
  margin-left: 10px;
  display: grid;
  grid-template-rows: 80% 20%;
}

.comDisplay {
  grid-row: 1/2;
  margin: auto;
}

.addCom {
  grid-row: 2/3;
  margin: auto;
}

.ant-form #makeItWork {
  width: 100px;
  margin: auto;
}



.photoModal {
  margin-left: 0;
  max-width: 1050px;
  margin: auto;

}

.ant-confirm-body .ant-confirm-content {
  margin-left: 0px;
}

.comDiv {
  display: grid;
  grid-template-columns: 90% 10%;
  min-height: 65px;
  border-radius: 5px;
  background-color: #eef7ff;
  padding: 5px;
  margin-bottom: .5em;
}

#comDelete {
  grid-row: 1/2;
  grid-column: 2/3;
  margin: auto;
}

#comUser {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-bottom: auto;
  margin-top: auto;
}

#comText {
 grid-row: 2/3;
 grid-column: 1/3;
 margin-bottom: auto;
 margin-top: auto;
}

.ant-card-body {
  padding: 15px;
}
