.Navbar{
  background-color: #fefefe;
  filter: drop-shadow(0 0 3px #e8e8e8);
}

.container {
  align-items: center;
  display: flex;
  font-family: 'Helvetica', sans-serif;
  height: 60px;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo-container {
  align-items: center;
  display: flex;
}

.logo {
  height: 32px;
  width: 32px;
}

.logotype{
  color: #0084FF;
  font-size: 36px;
  font-weight: 800;
  margin: 0;
}

.nav-items {
  align-items: center;
  display: flex;
}

.name {
  color: #0084FF;
  margin-bottom: 0;
}

/* ---- Responsive Breakpoints ----------------------------------------------*/
@media only screen and (max-width: 1210px) {
  .container{
    max-width: 980px;
    padding: 0 30px;
  }
}

@media only screen and (max-width: 800px) {
  .logotype {
    display: none;
  }
}