.Photos {
  max-width: 1200px;
  margin: 0 auto;
}

.animateIn {
  
}

.photoRow {
  width: 95%;
  margin: 0 auto;
}

.Cards {
  margin: auto;
  margin-top: 10px;
  height: 100%;
  width: auto;
}
